<html>
<head>
    <title>Deletar Pessoa</title>
</head>
<body>
    <h1>Deletar Pessoa</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para a Listagem de pessoa</a>
    <form method="POST">
        {% csrf_token %}
        <p>Você te, certeza que quer deletar a pessoa {{ object.nome }}</p>
        <button type="submit">Confirmar</button>

    </form>
</body>
</html>